@media(max-width:768px){
    p {
        font-size: 19px;
        line-height: 28px;
    }
    header{
        height: 164vh;
        text-align: center;
    }
    .banner-phone {
        width: 56%;
        top: 76%;
        margin-right: 55px;
    }
    .nav-link{
        display: inline-block;
    }
    .navbar-nav{
        text-align: center;
        margin-top: 30px;
    }
    .header-section .nav-item .nav-link {
        margin: 5px 15px;
        font-size: 15px;
    }
    .hero-content {
        padding: 18px 0;
        text-align: center;
    }
    .header-section .hero-content h1 {
        padding: 10px 0;
        font-size: 42px;
    }
    .header-section .hero-content ul {
        padding: 23px 0 10px 0;
    }
    .hero-content .banner-btn {
        padding: 8px 13px;
        font-size: 14px;
    }
    .btn-global {
        padding: 8px 13px;
        font-size: 15px;
    }
    .hero-content .banner-btn {
        padding: 8px 13px;
        font-size: 15px;
    }
    .feature-intro {
        margin-top: 25px;
    }
    .feature-intro h2 {
        font-size: 26px;
    }
    span {
        margin: 2% auto 6%;
    }
    .feature-content h4 {
        margin: 13px 0 15px;
        font-size: 23px;
    }
    .about-device {
        padding: 113px 0 31px 0;
    }
    .about-device::after {
        top: 23px;
   }
   .about-device img {
        margin: -47px 0px 18px 70px;
        width: 65%;
    }
    
    .about-device-content h2 {
        font-size: 26px;
    }
    .title-border::before {
        left: 3%;
    }
    .title-border::after {
        right: 89.5%;
    }
    .about-device-content .fa-solid {
        font-size: 18px;
    }
    .about-device-content ul li h5 {
        margin-left: 5px;
        font-size: 17px;
    }
    .short-about {
        padding: 30px 0 0 0;
    }
    .short-about img {
        width: 75%;
        margin: 0px 0px 17px 44px;
    }
    .testimonials {
        padding: 36px 0 41px 0;
    }
    .testimonials .testimonials-intro h2 {
        font-size: 29px;
    }
    .testimonials .slider p {
        font-size: 18px;
    }
    .testimonials .slider .client-img {
        width: 50px;
        height: 50px;
        margin-right: 12px;
    }
    .owl-dots {
        margin-top: 75px;
    }
    .ads {
        padding: 33px 0;
        text-align: center;
    }
    .ads ul {
        margin: 15px 0 0 0;
        text-align: center;
    }
    .price-sec .price-intro {
        margin-top: 27px;
    }
    .price-sec .price-intro h2 {
        font-size: 30px;
    }
    .price-sec .price-table {
        margin-bottom: 20px;
    }
    .price-sec .price-table h3 {
        font-size: 33px;
        padding-bottom: 18px;
    }
    .price-sec .price-table .priceing h1 {
        font-size: 40px;
    }
    .price-sec .price-table .priceing sup {
        font-size: 22px;
        margin: 40px 0 -24px 131px;
    }
    .price-sec .price-table .price-tbl-p {
        padding: 13px 0;
        font-size: 15px;
    }
    .price-sec .price-table h3 {
        font-size: 29px;
        padding-bottom: 16px;
    }
    .contact-sec {
        margin: -20px 0px 0px 0;
        padding: 2px 0 300px
    }
    .form_box {
        padding: 25px;
        width: 74%;
        top: 62%;
    }
    .form-control:focus{
        outline: none;
        box-shadow: none;
        border-color: none;
    }
    .form-control{
        color: #fff;

    }
    .footer-sec {
        padding: 5px 0;
    }
    .footer-sec .footer-content ul li {
        letter-spacing: 7px;
        font-size: 16px;
    }
    .footer-sec p {
        font-size: 13px;
        margin-top: 2px;
    }
}

@media(max-width:575px){
    p {
        font-size: 16px;
        line-height: 26px;
    }
    header{
        height: 126vh;  
        text-align: center;
    }
    .banner-phone {
        width: 56%;
        top: 65%;
    }
    .nav-link{
        display: inline-block;
    }
    .navbar-nav{
        text-align: center;
        margin-top: 30px;
    }
    .header-section .nav-item .nav-link {
        margin: 5px 15px;
        font-size: 15px;
    }
    .hero-content {
        padding: 18px 0;
        text-align: center;
    }
    .header-section .hero-content h1 {
        padding: 10px 0;
        font-size: 32px;
    }
    .header-section .hero-content ul {
        padding: 23px 0 10px 0;
    }
    .hero-content .banner-btn {
        padding: 8px 13px;
        font-size: 14px;
    }
    .btn-global {
        padding: 8px 13px;
        font-size: 14px;
    }
    .hero-content .banner-btn {
        padding: 8px 13px;
        font-size: 14px;
    }
    .feature-intro {
        margin-top: 25px;
    }
    .feature-intro h2 {
        font-size: 26px;
    }
    span {
        margin: 2% auto 6%;
    }
    .feature-content h4 {
        margin: 13px 0 15px;
        font-size: 23px;
    }
    .about-device {
        padding: 113px 0 31px 0;
    }
    .about-device::after {
        top: 23px;
   }
   .about-device img {
        margin: -47px 0px 18px 70px;
        width: 65%;
    }
    
    .about-device-content h2 {
        font-size: 26px;
    }
    .title-border::before {
        left: 3%;
    }
    .title-border::after {
        right: 89.5%;
    }
    .about-device-content .fa-solid {
        font-size: 18px;
    }
    .about-device-content ul li h5 {
        margin-left: 5px;
        font-size: 17px;
    }
    .short-about {
        padding: 30px 0 0 0;
    }
    .short-about img {
        width: 75%;
        margin: 0px 0px 17px 44px;
    }
    .testimonials {
        padding: 36px 0 41px 0;
    }
    .testimonials .testimonials-intro h2 {
        font-size: 29px;
    }
    .testimonials .slider p {
        font-size: 18px;
    }
    .testimonials .slider .client-img {
        width: 50px;
        height: 50px;
        margin-right: 12px;
    }
    .owl-dots {
        margin-top: 75px;
    }
    .ads {
        padding: 33px 0;
    }
    .ads ul {
        margin: 15px 0 0 0;
        text-align: center;
    }
    .price-sec .price-intro {
        margin-top: 27px;
    }
    .price-sec .price-intro h2 {
        font-size: 30px;
    }
    .price-sec .price-table {
        margin-bottom: 20px;
    }
    .price-sec .price-table h3 {
        font-size: 33px;
        padding-bottom: 18px;
    }
    .price-sec .price-table .priceing h1 {
        font-size: 40px;
    }
    .price-sec .price-table .priceing sup {
        font-size: 22px;
        margin: 40px 0 -24px 241px;
    }
    .price-sec .price-table .price-tbl-p {
        padding: 13px 0;
        font-size: 15px;
    }
    .price-sec .price-table h3 {
        font-size: 29px;
        padding-bottom: 16px;
    }
    .contact-sec {
        margin: -20px 0px 0px 0;
        padding: 2px 0 300px
    }
    .form_box {
        padding: 11px;
        width: 73%;
    }
    .form-control:focus{
        outline: none;
        box-shadow: none;
        border-color: none;
    }
    .form-control{
        color: #fff;

    }
    .footer-sec {
        padding: 5px 0;
    }
    .footer-sec .footer-content ul li {
        letter-spacing: 7px;
        font-size: 16px;
    }
    .footer-sec p {
        font-size: 13px;
        margin-top: 2px;
    }
}
@media(max-width:425px){
    .banner-phone {
        top: 75%;
        margin-right: -6px;
    }
    .ads h3 span {
        font-size: 15px;
    }
    .price-sec .price-table .priceing sup {
        margin: 40px 0 -24px 165px;
    }
    
}
@media(max-width:375px){
    header {
        height: 120vh;
    }
    .banner-phone {
        margin-right: -12px;
    }

    .header-section .hero-content h1 {
        padding: 6px 0;
        font-size: 30px;
    }
    p {
        font-size: 14px;
        line-height: 24px;
    }
    .ads h3 {
        font-size: 18px;
    }
    .price-sec .price-table .priceing sup {
        margin: 40px 0 -25px 140px;
    }





}
@media(max-width:320px){
    p {
        font-size: 12px;
        line-height: 19px;
    }
    .header{height: 109vh;}
    .header-section .hero-content h1 {
        padding: 5px 0;
        font-size: 26px;
    }
    .hero-content .banner-btn {
        padding: 6px 9px;
        font-size: 13px;
    }
    .btn-global {
        padding: 6px 9px;
        font-size: 13px;
    }
    .about-device img {
        margin: -59px 0px 18px 52px;
        width: 65%;
    }
    .form_box {
        padding: 12px;
        width: 69%;
        top: 63%;
    }
    .banner-phone {
        top: 67%;
        right: 90px;
    }
    header {
        height: 108vh;
    }
    .feature-intro h2 {
        font-size: 25px;
    }
    .feature-content .fa {
        font-size: 26px;
        height: 23px;
        line-height: 60px;
        width: 60px;
        height: 60px;
    }
    .feature-content h4 {
        margin: 6px 0 15px;
        font-size: 21px;
    }
    .about-device-content h2 {
        font-size: 24px;
    }
    .about-device-content .fa-solid {
        font-size: 16px;
    }
    .about-device-content ul li h5 {
        margin-left: 3px;
        font-size: 15px;
    }
    .testimonials {
        padding: 22px 0 39px 0;
    }
    .testimonials .testimonials-intro h5 {
        margin-bottom: 8px;
        font-size: 14px;

    }
    .testimonials .testimonials-intro h2 {
        font-size: 22px;
    }
    .testimonials .slider p {
        font-size: 14px;
        margin-top: 5px;
    }
    .testimonials .slider .client-img {
        width: 45px;
        height: 45px;
    }
    .ads h3 {
        font-size: 12px;
    }
    .price-sec .price-intro h5 {
        margin-bottom: 8px;
    }
    .price-sec .price-intro h2 {
        font-size: 25px;
    }
    .price-sec .price-table .priceing sup {
        margin: 40px 0 -25px 112px;
    }

}